<div class="panel panel-default col-md-8 col-md-offset-2">
  <div class="panel-body">
    <form name="paperAddForm" class="form-horizontal" ng-submit="submit(paperAddForm.$valid)" novalidate>
      <div class="form-group">
        <label class="control-label col-sm-2" for="paper-add-title">Title:</label>
        <div class="col-sm-10">
          <input type="email" ng-model="paper.title" class="form-control" id="paper-add-title" placeholder="Enter title" required>
        </div>
      </div>
    </form>
  </div>
</div>