<div class="panel panel-default col-md-8 col-md-offset-2">
  <div class="panel-body">
    <form name="reviewAddForm" class="form-horizontal" ng-submit="submit(registerAddForm.$valid)" novalidate>
      <div class="form-group">
        <label class="control-label col-sm-2" for="review-add-comment">Email:</label>
        <div class="col-sm-10">
          <input type="text" ng-model="review.comment" class="form-control" id="review-add-comment" placeholder="Enter comment" required>
        </div>
      </div>
    </form> 
  </div>
</div>